/* Generic styles */
:root {
  --color-1: #4F76F6;
  --color-2: #77F2A1;
  --color-3: #1F2B37;
  --color-4: #F9F9F9;
}

.white {
  color: var(--color-4)
}

a {
  text-decoration: none ;
}

ul {
  list-style: none;
  text-align: left;
}

ul li{
  display: inline;
  padding: 5px;
  font-size: 32px;
}

/* Button Styles */  
.btn {
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid var(--color-4);
  color: var(--color-4);
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px 0;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}


.block-colour-btn {
  border: 1px solid var(--color-1);
  color: #fff;
  box-shadow: 0 0 40px 40px var(--color-1) inset, 0 0 0 0 var(--color-1);
  transition: all 150ms ease-in-out;
}

.block-colour-btn:hover {
  box-shadow: 0 0 10px 0 var(--color-1) inset, 0 0 10px 4px var(--color-1);
  color: var(--color-1);
  font-weight: 700;
}

.light-bg-btn,
.clear-btn {
  color: var(--color-4);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
}

.light-bg-btn:after,
.clear-btn:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: var(--color-4);
  z-index: -1;
  transition: width 150ms ease-in-out;
}

.clear-btn:hover {
  color: var(--color-1);
}

.light-bg-btn:hover:after,
.clear-btn:hover:after {
  width: 110%;
}

.light-bg-btn {
  color: var(--color-1);
  border: 1px solid var(--color-1)
}
  
@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--color-1); }
}


/* Hero Section */
.hero {
    height: 100vh;
    background-color: var(--color-4);
    color: var(--color-3);
}

.color-text {
  color: var(--color-1)
}

#type-here {
  border-right: 1px solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  30% {
    border-color: transparent;
  }
}

/* About me section */
#about {
  background-color: var(--color-1);
  min-height: 80vh;
}

.about-img-container{
  width: 100%;
}

#about-img {
 height: 20em;
 width: 20em;
}

/* Project Section */

.project-image {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 763px) {
    .small-screen-center {
      text-align: center;
    }

    #about-img {
      width: 100%;
      height: auto;
     }

    .about-img-container{
      margin-bottom: 50px;
    }
  }
  
  